.menu,
.crose,
.nav_contact {
  display: none;
}
nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100vw;
  height: 100px;
}
.nav_main_div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}
.nav_logo {
  display: flex;
  align-items: center;
}
.nav_logo img {
  width: 55px;
  margin-right: 8px;
}
.nav_logo h1 {
  font-size: 2.4rem;
  font-family: "Kaushan Script", cursive;
}
.slide {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
}
.nav_links_div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.nav_links_div div {
  list-style: none;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  padding: 6px 4px;
  margin: 0px 25px;
  color: black;
  opacity: 1;
}
.talk_btn {
  background: #f54748;
  box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.31);
  border-radius: 21px;
  padding: 7px 30px;
  border-radius: 50px;
  border: none;
  font-weight: bold;
  letter-spacing: 0.01em;
  color: white;
  cursor: pointer;
}

footer {
  padding: 30px 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
}
.footer_links_div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer_links_div li {
  margin: 0px 16px;
  font-weight: bold;
}
.social_icons {
  display: flex;
  justify-content: center;
  align-items: center;
}
.social_icons a img {
  width: 30px;
  margin: 0px 15px;
}

@media screen and (max-width: 1350px) {
  .nav_main_div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1000px;
  }
  .nav_logo img {
    width: 50px;
  }
  .nav_logo h1 {
    font-size: 2.2rem;
  }
  .talk_btn {
    background: #f54748;
    box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.31);
    border-radius: 21px;
    padding: 7px 20px;
    color: white;
    cursor: pointer;
    font-size: 14px;
  }
}
@media screen and (max-width: 1100px) {
  .nav_main_div {
    justify-content: space-between;
    width: 90%;
  }
  .talk_btn {
    display: none;
  }
  .menu,
  .crose,
  .nav_contact {
    display: block;
    cursor: pointer;
  }
  .menu {
    position: absolute;
    top: 25px;
    right: 40px;
  }
  .crose_img {
    transform: rotate(45deg);
    margin: 30px;
  }
  .slide {
    height: 100vh;
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 2;
    overflow-x: hidden;
    transition: 1s;
    color: black;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
    background-color: rgba(255, 255, 255, 0.89);
  }
  .nav_links_div {
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    height: 280px;
    margin-left: 25px;
  }
  .nav_links_div li {
    font-size: 21px;
    margin: 0px 0px;
    color: black;
  }
  footer {
    padding: 10px 0px;
    flex-direction: column;
    justify-content: space-around;
  }
  .footer_links_div li {
    margin: 45px 16px;
    font-weight: bold;
  }
  .social_icons a img {
    width: 32px;
    margin: 0px 15px;
  }
}

@media screen and (max-width: 600px) {
  .menu {
    position: absolute;
    top: 35px;
    right: 40px;
  }
  .menu img{
    width: 35px;
  }
  .nav_main_div {
    width: 80%;
  }
  .nav_logo img {
    width: 40px;
  }
  .nav_logo h1 {
    font-size: 1.7rem;
  }
  .footer_links_div li {
    margin: 45px 8px;
    font-weight: bold;
    font-size: 14px;
  }
}
